*AppleDouble*
*swp
*.o
*dSYM
TrustStore.pem
*log
*pem
*key
*gz
*tar
securechat*deb
securechat
*afp
Makefile
autom4te.cache
clearTempFiles.sh
config.status
deploy.sh
securechat-*
src/.deps/
src/.deps/*
include/config.h
